@media (max-width: 1200px)
  .header
    &__menu
      margin-left: 9rem
    &__item
      &-link
        padding: 0.5rem 1.2rem
  .promo
    &__description
      margin-right: 10rem
  .about
    &__left
      width: 18rem
      margin-right: 3rem
    &__right
      width: 38rem
  .project
    &__item
      &:first-child
        width: 650px
  .service
    &__description
      width: 22rem
    &__circles
      margin-left: 2rem
  .portfolio
    &__items
      grid-template-columns: repeat(4, 200px)

@media (max-width: 991px)
  .header
    &__menu
      margin-left: 3rem
    &__item
      &-link
        font-size: 0.85rem
        padding: 0.5rem 0.9rem
  .promo
    &__description
      margin-right: 6rem
  .about
    &__left
      width: 15rem
      margin-right: 2rem
    &__right
      width: 30rem
      font-size: 0.8rem
  .project
    &__item
      &:first-child
        width: 600px
    &__footer
      &-title
        font-size: 1rem
        margin-left: 1rem
      &-btn
        margin-right: 1rem
  .service
    &__items
      margin-top: 3rem
    &__wrapper
      flex-direction: column
    &__tabs
      flex-direction: row
      justify-content: center
    &__description
      width: 21rem
    &__circle
      margin-right: 1rem
      &-item
        width: 100px
        height: 100px
        font-size: 1.5rem
  .impressed
    &__description
      &-title
        font-size: 1.2rem
    &__img
      margin-left: 3rem
  .portfolio
    &__items
      grid-template-columns: repeat(2, 150px)

@media (max-width: 767px)
  .header
    &__menu
      position: fixed
      flex-direction: column
      justify-content: center
      align-items: center
      top: -5%
      left: -100%
      right: 0
      width: 50%
      height: 100vh
      padding: 20px 15px
      background-color: rgba(0,0,0, .8)
      transition: 0.6s all
      &-active
        left: -10%
        display: flex
    &__item
      padding-right: 0
      border: none
      margin: 10px 0
      &-link
        font-size: 20px
    &__promo
      font-size: 1.5rem
    &__subtitle
      font-size: 0.9rem

  .hamburger
    display: block
    position: absolute
    right: 15px
    top: 5%
    transform: translateY(-50%)
    width: 26px
    height: 12px
    span
      display: block
      height: 2px
      width: 100%
      background-color: #ffffff
      margin-bottom: 2px
      transition: 0.5s all
    &-active
      span
        margin-bottom: -2px
        &:nth-child(1)
          transform: translateY(3px) rotate(-45deg)
        &:nth-child(2)
          display: none
        &:nth-child(3)
          transform: translateY(3px) rotate(45deg)
  .promo
    &__title
      font-size: 1.2rem
    &__text
      font-size: 0.8rem
  .about
    &__title
      text-align: center
    &__items
      flex-direction: column
      justify-content: center
      align-items: center
    &__left
      margin-right: 0
      width: 30rem
  .project
    &__item
      &:first-child
        width: 500px
    &__footer
      &-btn
        width: 160px
        font-size: 0.8rem
  .service
    &__circles
      flex-direction: column
      margin-top: 0
      margin-left: 1rem

    &__description
      width: 20rem
      &-subtitle
        font-size: 0.9rem
      &-text
        padding-top: 1rem
  .impressed
    &__img
      width: 250px
      height: 250px
  .portfolio
    &__tab
      padding: 10px
    &__items
      grid-template-columns: repeat(2, 250px)
      grid-template-rows: repeat(12, 150px)
      justify-content: center
      grid-template-areas: "one two" "one two" "three four" "three four" "five six" "five six" "seven eight" "seven eight" "nine ten" "nine ten" "eleven twelve" "eleven twelve"



@media (max-width: 576px)
  .promo
    &__wrapper
      flex-direction: column
      align-items: center
    &__description
      margin-right: 0
      width: 320px
      text-align: center
    &__img
      display: none
  .about
    &__left
      width: 18rem
    &__right
      width: 18rem
  .project
    &__items
      flex-direction: column
    &__item
      &:first-child
        width: 300px
    &__footer
      display: none
  .service
    &__description
      width: 16rem
    &__circles
      margin-top: 2rem
    &__circle
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__tab
      width: 50px
      height: 50px
    &__item
      flex-direction: column
  .impressed
    height: auto
    padding-bottom: 1rem
    &__description
      width: auto
    &__wrapper
      display: flex
      flex-direction: column-reverse
  .portfolio
    &__tabs
      flex-direction: column
      align-items: center
    &__items
      grid-template-columns: repeat(1, 290px)
      grid-template-rows: repeat(12, 150px)
      justify-content: center
      grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten" "eleven" "twelve"
    &__footer
      &-title
        font-size: 1rem
  .team
    &__footer
      &-title
        font-size: 1rem
