.portfolio {
  padding: $titlemargintop 0;
  display: flex;
  background-color: $lightred;
  &__tabs{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  &__tab{
    padding: 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &-active{
      border-bottom: 3px solid $green;
      transition: 1s all;
    }
  }
  &__items{
    display: none;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(7, 150px);
    gap: 10px;
    grid-template-areas:
            "one two three four"
            "one six three four"
            "one six seven four"
            "five six seven eight"
            "five ten seven eight"
            "five ten eleven twelve"
            "nine ten eleven twelve";

   &-active{
     display: grid;
   }
  }
  &__link{
    display: block;
    width: 100%;
    height: 100%;
  }
  &__item{
    position: relative;
    &-1{
      grid-area: one;
      background: url('../img/portfolio/img1.png') center (center / cover) no-repeat;
    }
    &-2{
      grid-area: two;
      background: url('../img/portfolio/img2.png') center (center / cover) no-repeat;
    }
    &-3{
      grid-area: three;
      background: url('../img/portfolio/img3.png') center (center / cover) no-repeat;
    }
    &-4{
      grid-area: four;
      background: url('../img/portfolio/img4.png') center (center / cover) no-repeat;
    }
    &-5{
      grid-area: five;
      background: url('../img/portfolio/img5.png') center (center / cover) no-repeat;
    }
    &-6{
      grid-area: six;
      background: url('../img/portfolio/img6.png') center (center / cover) no-repeat;
    }
    &-7{
      grid-area: seven;
      background: url('../img/portfolio/img7.png') center (center / cover) no-repeat;
    }
    &-8{
      grid-area: eight;
      background: url('../img/portfolio/img8.png') center (center / cover) no-repeat;
    }
    &-9{
      grid-area: nine;
      background: url('../img/portfolio/img9.png') center (center / cover) no-repeat;
    }
    &-10{
      grid-area: ten;
      background: url('../img/portfolio/img10.png') center (center / cover) no-repeat;
    }
    &-11{
      grid-area: eleven;
      background: url('../img/portfolio/img11.png') center (center / cover) no-repeat;
    }
    &-12{
      grid-area: twelve;
      background: url('../img/portfolio/img12.png') center (center / cover) no-repeat;
    }
    &:hover{
      .portfolio__wrapper{
        opacity: 1;
        transition: 1s all;
      }
    }
  }
  &__wrapper{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    &-title{
      font-family: "Source Code Pro",sans-serif;
      color: $green;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      font-size: 1.1rem;
    }
    &-text{
      width: 200px;
      font-size: 12px;
      color: white;
      padding-right: 10%;
      padding-top: 30px;
    }
    &-line{
      width: 24px;
      height: 0px;
      color: $green;
      border: 1px solid $green;
      margin-left: 1%;
    }
  }
  &__description{
    position: absolute;
    top: 30%;
    left: 15%;
  }
  &__footer{
    width: 100%;
    height: 200px;
    background: url('../img/portfolio/portfolioback.jpg') center (center / cover) no-repeat;
    margin-top: 2.9rem;
    &-title{
      font-size: 1.5rem;
      color: white;
      text-align: center;
      font-weight: 400;
      padding-top: 3.5rem;
    }
    &-btn{
      margin: 2rem auto;
      display: block;
      padding: 5px 20px;
      color: #fff;
      border: 1.5px solid #fff;
      border-radius: 1rem;
      background-color: rgba(0,0,0,0);
      outline: 0!important;
      width: 160px;
      height: 40px;
    }
  }

}
